#cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    gap: 20px;
    border: 1px solid black;
}

.cart-card {
    border: 1px solid rgb(138, 138, 138);
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 1rem;
}

.cart-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

#total-end {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-left: 20%;
}

#total-items,
#total-price {
    margin: 0;
}

#checkout-btn {
    width: fit-content;
}