#product-items {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}